<div class="container">
  <%# _tabs.html.erbの呼び出し %>
  <%= render 'tabs' %>

  <% @articles.each do |article| %>
    <%# 部分テンプレートに値を渡す %>
    <%# article:（_article.html.erb内に記載されているarticleのこと） article（each文のarticleのこと） %>
    <%= render 'article', article: article, title: 'aaa' %>
    <%# カードごとのリンクの作成（idを指定する必要あり）%>
    <%# link_to article_path(id: article.id)%>
    <%# article_path(article)も同上の意味で、自動でidを推測して作成してくれる%>
  <% end %>
  <%= link_to new_article_path do %>
    <div class="float_btn">
        <%# font-awesomeの使用(i=icon：プラスマークのアイコンが表示される) %>
        <i class="fa fa-plus"></i>
    </div>
  <% end %>
</div>