test:
  service: Disk
  root: <%= Rails.root.join("tmp/storage") %>

local:
  service: Disk
  root: <%= Rails.root.join("storage") %>

# Use bin/rails credentials:edit to set the AWS secrets (as aws:access_key_id|secret_access_key)
# amazonに関する記述部分のコメントアウトを解除
# 動作が問題なければ.envファイルに転記するので、以下の機密情報が入った状態でコミットやアップロードは絶対しないこと
amazon:
  service: S3
  # .envに記述されているパラメータを記述
  access_key_id: <%= ENV['AWS_ACCESS_KEY'] %>
  # .envに記述されているパラメータを記述
  secret_access_key: <%= ENV['AWS_SECRET_KEY'] %>
  # リージョンを記述
  region: ap-northeast-1
  # バケット名を記述
  bucket: <%= ENV['AWS_BUCKET_NAME'] %>
# Remember not to checkin your GCS keyfile to a repository
# google:
#   service: GCS
#   project: your_project
#   credentials: <%= Rails.root.join("path/to/gcs.keyfile") %>
#   bucket: your_own_bucket-<%= Rails.env %>

# Use bin/rails credentials:edit to set the Azure Storage secret (as azure_storage:storage_access_key)
# microsoft:
#   service: AzureStorage
#   storage_account_name: your_account_name
#   storage_access_key: <%= Rails.application.credentials.dig(:azure_storage, :storage_access_key) %>
#   container: your_container_name-<%= Rails.env %>

# mirror:
#   service: Mirror
#   primary: local
#   mirrors: [ amazon, google, microsoft ]
